<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
</head>
<body>
    {{ if eq .Name "Bob" }}
    <span>Hello Bob</span>
    {{ else }}
    <span>Hello Max</span>
    {{ end }}

    <ul>
        {{ range .Hobbies }}
            <li><strong>{{ . }}</strong></li>
        {{ else }}
            <li>List is empty</li>
        {{ end }}
    </ul>

    <h1>Main page</h1>
    <p>User: {{.Name}}</p>
    <p>Age: {{.Age}}</p>
    <p>Money: {{.Money}}</p>
</body>
</html>